// @import url(//db.onlinewebfonts.com/c/ad775834db281065fc17e86ad857bf63?family=Cerebri+Sans);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

body {
    // background-color: red;
    font-family: "Cerebri sans";
    font-family: "Open sans",sans-serif;
    background-color: rgba(131, 9, 0, 0.05);
}

.navbar-form .form-control {
    background-color: rgba(131, 9, 0, 0.05);
}


.custom-table {
    .card-dashboard-eight {
        padding: 0;
    }
}
.table th, .table td {
    padding: .5rem;
    vertical-align: middle;
}

.btn {
    // padding: 10px .2rem;
    border-radius: 30px;
    width:  115px;
    color: white;

    &:hover {cursor: pointer;color: currentColor;}

    &__blue {
        background-color: #009cee;

        &:hover {color: currentColor;}
    }

    &__success {
        background-color: #0d8e0b;
    }
}